@import "../node_modules/sass-mediaqueries/media-queries";

* {
  box-sizing: border-box;
}

html, body {
  background-color: #eee;
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

$pad: 6px;
$cell-sz: 100px;
$cells: 4;

$break1: 900px;

.box {
  width: $cell-sz * $cells + 2*$pad;
  height: $cell-sz * $cells + 2*$pad;
  background-color: rgba(#fff, 0.8);
  border-radius: 8px;
  margin: auto;
  padding: $pad;
}

.wrap {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;

  @include max-screen($break1) {
    padding-bottom: 50px;
  }
}

.cell-wrap {
  width: $cell-sz;
  height: $cell-sz;
  // background-color: #fff;
  padding: $pad;
  display: inline-block;
  vertical-align: top;

  .cell {
    background-color: #546ca2;
    width: $cell-sz - $pad*2;
    height: $cell-sz - $pad*2;
    border-radius: 5px;
    font-size: 28px;
    line-height: $cell-sz - 8;
    text-align: center;
    font-weight: bold;
    text-shadow: -1px -1px 2px rgba(#000, 0.2);
    color: #fff;
    box-shadow: inset 0 -3px rgba(0, 0, 0, 0.2);

    &[data-counter]:before {
      content: attr(data-counter);
    }

    &[data-counter="0"] {
      box-shadow: inset 0 0 8px rgba(#000, 0.1);
      background-color: #eee;

      &:before {
        content: '';
      }
    }

    $cell-colors: (
      2: #ff8844,
      4: #27BA6C,
      8: #3f9fb5,
      16: #FF8833,
      32: #3b803a,
      64: #276fba,
      128: #e91e63,
      256: #1aa0ff,
      512: #cddc39,
      1024: #ffe31a,
      2048: #aa39ee,
      4096: #286577,
    );

    @each $val, $color in $cell-colors {
      &[data-counter="#{$val}"] {
        background-color: #{$color};
      }
    }

  }
}


.btns-wrap {
  $w: 150px;
  $h: 50px;

  position: absolute;
  top: 50%;
  right: $h;
  margin-top: -$h / 2;

  .btn {
    height: $h;
    width: $w;
    display: inline-block;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 4px;

    &:hover {
      background-color: #eee;
    }

  }

  @include max-screen($break1) {
    top: auto;
    bottom: 10vh;
    left: 50%;
    margin-top: 0;
    margin-left: -$w / 2;
  }

  @include max-screen-height(640px) {
    bottom: 10px;
  }
}
